<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./pratical.css">
</head>
<body>
    <div class="container">
   
        <div class="slider">
            <div class="logo">
                <h1>ALIQUAM</h1>
            </div>
            <div class="nav">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Service</a>
                <a href="#">Contact</a>
            </div>
            <div class="help">
                <h3>How Can Help You</h3>
                <h4>+112345656</h4>
            </div>
            <div class="info">
                <h1>Better Private Security</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Eaque hic ullam atque possimus earum reiciendis animi nostrum, tenetur cupiditate provident.
                </p>
                <br>
                <h2>Call Us <br>-134-SECURE90</h2>
            </div>
        </div>

        <div class="No">
            <div class="text">
                <h1>Providing Seattle with<br>Superior Security Solutions</h1>
                <br>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Aliquam nulla consectetur reiciendis soluta assumenda <br> voluptas deleniti provident natus aut rem? 
                    Quam placeat sed doloribus quasi architecto nam eum dolore ex?<br>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Aliquam nulla consectetur reiciendis soluta assumenda <br> voluptas deleniti provident natus aut rem? 
                    Quam placeat sed doloribus quasi architecto nam eum dolore ex
                </p>
                <br>
                <h3>CLICK HERE -></h3>
            </div>
            <div class="img3">
                <h1>LETS NUMBERS TALK</h1>
                <div class="text1">
                    <h2>15+</h2>
                    <h4>Year in Business</h4>
                    <h2>500+</h2>
                    <h4>Happy Customers</h4>
                </div>
                <div class="text1">
                    <h2>128</h2>
                    <h4>Licensed Officers</h4>
                    <h2>2K+</h2>
                    <h4>Assets Protected</h4>
                </div>
            </div>
        </div>

        <div class="services">
            <h1>Our Services</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Harum maxime<br> perferendis alias minus.
            </p>
            <div class="main-box">
                <div class="box">
                    <img src="./lock1.jpeg" alt="Access Solution">
                    <h3>Access Solution</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="box">
                    <img src="./lock2.jpeg" alt="Alarm System">
                    <h3>Alarm System</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="box">
                    <img src="./lock3.jpeg" alt="Buzzers">
                    <h3>Buzzers</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="main-box2">
                <div class="box">
                    <img src="./lock4.jpeg" alt="Security Cameras">
                    <h3>Security Cameras</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="box">
                    <img src="./lock5.jpeg" alt="Internet System">
                    <h3>Internet System</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="box">
                    <img src="./lock6.jpeg" alt="Locksmith Services">
                    <h3>Locksmith Services</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <button>View All Services</button>
            </div>
        </div>
<
        <div class="slider3">
            <h5>Why Choose Us</h5>
            <h1>What Sets Us Apart</h1>
            <div class="part">
                <div class="part1">
                    <img src="./watch2.png" alt="Perfection Anytime">
                    <h1>Perfection Anytime</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Aliquam nulla consectetur reiciendis soluta assumenda  voluptas deleniti provident natus aut rem? 
                        Quam placeat sed doloribus quasi architecto nam eum dolore ex?
                        Lorem ipsum dolor sit, amet consectetur</p>
                </div>
                <div class="part1">
                    <img src="./tech.png" alt="24/7 Communication">
                    <h1>24/7 Communication</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Aliquam nulla consectetur reiciendis soluta assumenda  voluptas deleniti provident natus aut rem? 
                        Quam placeat sed doloribus quasi architecto nam eum dolore ex?
                        Lorem ipsum dolor sit, amet consectetur</p>
                </div>
                <div class="part1">
                    <img src="./car.png" alt="Our Fleet">
                    <h1>Our Fleet</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Aliquam nulla consectetur reiciendis soluta assumenda  voluptas deleniti provident natus aut rem? 
                        Quam placeat sed doloribus quasi architecto nam eum dolore ex?
                        Lorem ipsum dolor sit, amet consectetur</p>
                </div>
                <div class="part2">
                    <img src="./tech.png" alt="Emergency Help">
                    <h1>Emergency Help</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Aliquam nulla consectetur reiciendis soluta assumenda  voluptas deleniti provident natus aut rem? 
                        Quam placeat sed doloribus quasi architecto nam eum dolore ex?
                        Lorem ipsum dolor sit, amet consectetur</p>
                </div>
                <div class="part2">
                    <img src="./car.png" alt="Advanced Technology">
                    <h1>Advanced Technology</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Aliquam nulla consectetur reiciendis soluta assumenda  voluptas deleniti provident natus aut rem? 
                        Quam placeat sed doloribus quasi architecto nam eum dolore ex?
                        Lorem ipsum dolor sit, amet consectetur</p>
                </div>
                <div class="part2">
                    <img src="./watch2.png" alt="Licensed Officer">
                    <h1>Licensed Officer</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Aliquam nulla consectetur reiciendis soluta assumenda  voluptas deleniti provident natus aut rem? 
                        Quam placeat sed doloribus quasi architecto nam eum dolore ex?
                        Lorem ipsum dolor sit, amet consectetur</p>
                </div>
            </div>
        </div>

        <div class="details">
            <h1>Testimonial</h1>
            <h5>VIEW ALL -></h5>
            <div class="txt2">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Aliquam nulla consectetur reiciendis soluta assumenda  voluptas deleniti provident natus aut rem? 
                Quam placeat sed doloribus quasi architecto nam eum dolore ex?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Aliquam nulla consectetur reiciendis soluta assumenda  voluptas deleniti provident natus aut rem? 
                Quam placeat sed doloribus quasi architecto nam eum dolore ex</p> 
				<h3>Akash Sawant</h3>
				<h2>Google Reviewer</h2>
			    </div>
            <div class="txt2">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Aliquam nulla consectetur reiciendis soluta assumenda  voluptas deleniti provident natus aut rem? 
                Quam placeat sed doloribus quasi architecto nam eum dolore ex?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Aliquam nulla consectetur reiciendis soluta assumenda  voluptas deleniti provident natus aut rem? 
                Quam placeat sed doloribus quasi architecto nam eum dolore ex</p> 
                <h3>Akash Sawant</h3>
				<h2>Yelp Reviewer</h2>
			</div> 
                <div class="txt2">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Aliquam nulla consectetur reiciendis soluta assumenda  voluptas deleniti provident natus aut rem? 
                    Quam placeat sed doloribus quasi architecto nam eum dolore ex?
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Aliquam nulla consectetur reiciendis soluta assumenda  voluptas deleniti provident natus aut rem? 
                    Quam placeat sed doloribus quasi architecto nam eum dolore ex</p>   
                    <h3>Akash Sawant</h3>
				    <h2>Google Reviewer </h2>          
                </div>
			
        </div>
		<div class="part4">
			<div class="slice1">
				<h1>Request Info</h1>
				<p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Aliquam nulla consectetur reiciendis soluta assumenda  voluptas deleniti provident natus aut rem? 
                    Quam placeat sed doloribus quasi architecto nam eum dolore ex?
                    Lorem ipsum dolor sit, amet consectetur<br><br><br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Aliquam nulla consectetur reiciendis soluta assumenda  voluptas deleniti provident natus aut rem? 
                    Quam placeat sed doloribus quasi architectoLorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Aliquam nulla consectetur reiciendis soluta assumenda  voluptas deleniti provident natus aut rem? 
                    Quam placeat sed doloribus quasi architecto </p>
					<p>Tellus tellus mattis pulivinar </p>
					<p>Tellus tellus mattis pulivinar </p>
					<p>Tellus tellus mattis pulivinar </p>
					<p>Tellus tellus mattis pulivinar </p>
					
			</div>
			<div class="slice2">
				<div class="login">
					<h3>Name</h3>
					<input type="text" placeholder=" Full Name" id="name">
					<h3>Email</h3>
					<input type="text" placeholder=" Email address" id="email">
					<h3>Company</h3>
					<input type="text" placeholder=" Company name" id="company">
					<h3>Message</h3>
					<textarea type="text" placeholder=" Your message here.." id="msg"></textarea>
					<br>
					<button>SEND ME QUOTE</button>
				</div>
			</div>
		</div>
		    <div class="footer">
    <div class="footer-section">
        <h3>Services</h3>
        <ul>
            <li>Access Control Systems</li>
            <li>Alarm Monitoring</li>
            <li>Video Surveillance</li>
            <li>Intercom Solutions</li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>Company</h3>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>Address</h3>
        <p>1234 5th Ave N</p>
        <p>Seattle, WA 5678, USA</p>
        <p>Phone: +1-123-456-7890</p>
        <p>Email: <a href="mailto:info@example.com">info@example.com</a></p>
    </div>
</div>
<div class="footer-bottom">
    <p>&copy; 2024 Security Services. All rights reserved.</p>
</div>


    </div>
</body>
</html>
